h1{
   font-family: Libre Baskerville Static;
    color: aliceblue;
    text-transform: uppercase;
    
}
.Image{
    margin-top: 5%;
    margin-left: 0%;
    border: 4px white solid;
}
p{
    color: aliceblue;
    
}

.Content{
    text-align: center;
}
body{

    background-color: black;
}
